name: "pages"
on:
  push:
    branches:
      - "master"

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SSH_AUTH_SOCK: /tmp/ssh_agent.sock
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
    - uses: cachix/cachix-action@v14
      with:
        name: crane
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: mdbook build
      run: |
        mkdir output
        nix build --accept-flake-config .#book --out-link result --print-build-logs
        rsync -r -L ./result/ ./output
    - name: git push
      working-directory: output
      run: |
        git init
        git config user.name "GitHub Actions"
        git config user.email "github-actions-bot@users.noreply.github.com"
        git branch -M gh-pages
        git add .
        git commit -m "Deploying site"
        ssh-agent -a $SSH_AUTH_SOCK > /dev/null
        echo "${{ secrets.DEPLOY_KEY }}" | tr -d '\r' | ssh-add -
        git push --force "git@github.com:${GITHUB_REPOSITORY}.git" gh-pages
